<%- include("partials/header.ejs") %>


<div>
<h1>Lista de clientes</h1>

<form action="/clientes/newClient" method="get">
    <input type="submit" value="Criar novo cliente">
</form>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% clientes.forEach( cliente => { %>
        <tr>
            <td name="nome"><%= cliente.nome %></td>
            <td name="idade"><%= cliente.idade %></td>
            <td name="email"> <%= cliente.email %></td>
            <td>
                <form method="GET" action="/clientes/editar/<%= cliente.id %>" style="display:inline;">
                    <button type="submit">Alterar</button>
                </form>

                <form method="POST" action="/clientes/excluir" style="display:inline;">
                    <input type="hidden" name="id" value="<%= cliente.id %>">
                    
                    <button type="submit" onclick="return confirm('Tem certeza que deseja excluir <%= cliente.nome %>?')">
                        Excluir
                    </button>
                </form>
            </td>
        </tr>
        <% }) %>    
    </tbody>
</table>
</div>

<%- include("partials/footer.ejs") %>
