<%- include("partials/header.ejs") %>


<div>
<h1>Lista de clientes</h1>

<table>
    <thead>
        <th>
            <td>Nome</td>
            <td>Idade</td>
            <td>Email</td>
        </th>
    </thead>
    <tbody>
        <% clientes.forEach( cliente => {%>
        <tr>
            <td><%= cliente.nome %></td>
            <td><%= cliente.idade %></td>
            <td><%= cliente.email %></td>
        </tr>
        <% }) %>
    </tbody>
</table>
</div>

<%- include("partials/footer.ejs") %>
