<%- include("partials/header.ejs") %>

<h1>Produtos disponíveis</h1>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Nome Produto</th>
            <th>Preço</th>
            <th>Quantidade em estoque</th>
        </tr>
    </thead>
    <tbody>
        <% produtos.forEach(produto => { %>
            <tr>
                <td> <%= produto.nomeProduto %> </td>
                <td> <%= produto.preco %> </td>
                <td> <%= produto.quantidadeEstoque %> </td>
            </tr>
        <% }) %>
    </tbody>
</table>

<%- include("partials/footer.ejs") %>